#container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
}
#viewport {
  height: 100%;
  width: 100%;
}
#controls{
  top: 0;
  right: 0;
  padding-right: 1em;
  padding-top: 1em;
  position: absolute;
}
html, body, main {
    color: white;
    overflow: hidden;
    height: 100%;
}